.row
  .col-lg-12
    .panel.panel-default
      .panel-heading Doctor
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th Key
              %th Value
          %tbody
            %tr
              %td Name
              %td= "dr #{visit.doctor.name} #{visit.doctor.surname}"
            %tr
              %td Speciality
              %td= visit.speciality.name
