- if visit.recognition
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Recognition
        .panel-body= visit.recognition

- if visit.procedures
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Procedures
        .panel-body= visit.procedures

- if visit.instructions
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Instructions
        .panel-body= visit.instructions
