.row
  .col-lg-12
    %h2 Meds
= form_tag meds_path, method: 'get', id: "meds-search" do
  .form-group
    %input#search.form-control{ name: 'search', placeholder: 'Type med name' }
#meds-list= render 'meds'
- if admin?
  .row
    .col-lg-12
      = link_to 'New med', new_med_path, class: 'btn btn-success'
