.row
  .col-lg-6= link_to 'New patient', new_user_path, class: 'btn btn-lg btn-success btn-block'
  .col-lg-6= link_to 'New visit', new_visit_path, class: 'btn btn-lg btn-primary btn-block'
.row
  .col-lg-12
    %h2 My visits
    = render partial: 'dashboard/shared/visits_table', locals: { visits: doctor_visits, date: true }
.row
  .col-lg-12
    %h2 Pending visits
    = render partial: 'dashboard/shared/visits_table', locals: { visits: pending_visits, date: false }

