= simple_form_for user do |f|
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading Personal data
        .panal-body
          .form-group
            = f.input :name
            = f.input :surname
  .row
    .col-lg-12
      = f.button :submit, class: 'btn btn-success'
