!!!
%html
  %head
    %meta{ content: 'text/html', charset: 'UTF-8', http: { equiv: 'Content-Type' } }
  %body
    %h1= "Welcome to Hipocrates, #{@patient.name}!"
    %p
      You have successfully signed up to
      = link_to 'Hipocrates App', SecretConfig.full_url
