= simple_form_for visit, url: prescript_visit_path(visit), html: { id: 'edit_recognitions', novalidate: true } do |f|
  = f.association :recognitions, as: :check_boxes, collection: visible_recognitions, label: false, label_method: lambda { |r| "#{r.icd10} (#{r.name})" }

